<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.blogosphere">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Blogosphere">
        <activity
            android:name=".AddComment"
            android:exported="true" />
        <activity
            android:name=".ViewComment"
            android:exported="true" />
        <activity
            android:name=".NewEditList"
            android:exported="true" />
        <activity
            android:name=".NewViewedList"
            android:exported="true" />
        <activity
            android:name=".CreateNewList"
            android:exported="true" />
        <activity
            android:name=".FirstView"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ViewBlogPost"
            android:exported="true" />
        <activity
            android:name=".Edit_Article"
            android:exported="true" />
        <activity
            android:name=".SearchActivity"
            android:exported="true" />
        <activity
            android:name=".Create_Article"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Register_Activity"
            android:exported="true" />
        <activity
            android:name=".Login_Activity"
            android:exported="true" />
        <activity
            android:name=".Profile"
            android:exported="true" />
        <activity
            android:name=".Write_Story"
            android:exported="true" />
        <activity
            android:name=".Bookmarks"
            android:exported="true" />
        <activity
            android:name=".Home"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>